<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Documents constructor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="page">
    <header class="header">
        <h1 class="header_title" th:text="#{title.header}">Documents Constructor</h1>
        <div class="header_langs">
            <a class="lang_link" href="?lang=ru_RU">
                <img src="/img/russian-language.svg" width="30" height="30"/>
            </a>
            <a class="lang_link" href="?lang=en">
                <img src="/img/english-language.svg" width="30" height="30"/>
            </a>
        </div>
        <div class="header_logout">
            <a href="/logout">
                <img src="/img/logout_icon.svg" width="30" height="30">
            </a>
        </div>
    </header>
    <main class="content">
        <div class="content_column">
            <h2 class="content_header" th:text="#{content.choose.action}">Choose action:</h2>
            <a href="/template" class="content_button" th:text="#{content.create.document}">Create new document</a>
            <a href="/documents" class="content_button" th:text="#{content.open.document}">Open existing document</a>
            <a href="/employee/all" class="content_button" th:text="#{content.all.employees}">All employees</a>
            <a href="/employee/add" class="content_button" th:text="#{content.add.employee}">Add employee</a>
            <a href="/contractor/add" class="content_button" th:text="#{content.add.contractor}">Add contractor</a>
            <a href="/contractor/all" class="content_button" th:text="#{content.all.contractors}">All contractors</a>
        </div>
    </main>
    <footer class="footer">
        <p class="footer_content">&copy; 2021 <span
                th:text="#{footer.copyright}">Documents constructor. Diploma project</span></p>
    </footer>
</div>
</body>
</html>